.menu {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.menu h1 {
  font-size: 20px;
  color: #555;
}

.menu-post {
  display: flex;
  flex-direction: column;
}
.menu-post img {
  width: 86%;
  height: 200px;
  object-fit: cover;
}

h2 {
  margin: 7px 0;
  color: #555;
}

.menu-post button {
  width: 88%;
  padding: 5.5px 14px;
  border: none;
  cursor: pointer;
  color: #b9e7e7;
  background-color: white;
  border: 1px solid #b9e7e7;

  &:hover {
    border: 1px solid white;
    background-color: #b9e7e7;
    color: white;
  }
}
